/*
    PluginDraft CSS styles
*/

.gradecalc {
}

.gradecalc label {
    display: inline-block;
    width: 75px;
}
.gradecalc input[type='number'],
.gradecalc input[type='submit'] {
    display: inline-block;
    width: 50px;
}
.gradecalc select {
    height: 22px;
}
.gradecalc #preset {
    margin: 5px 0;
}
.gradecalc input[type='submit'] {
    margin-top: 10px;
    padding: 2px 0;
    width: 54px;
}

.gradecalc pre {
    font-size: 13pt;
}

/* Result */
.section .result-percent {
    font-size: 18px;
    width: 200px;
    height: 20px;
    border: 1px solid #ccc;
    background: #eee;
    color: #333;
    line-height: 20px;
    margin-bottom: 10px;
}
.section .result-grade {
    font-size: 50px;
    font-weight: 700;
    border: 1px solid #aaa;
    background: #ccc;
    color: #333;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

/* NOTICE message */
.gradecalc-notice {
    display: table;
    margin: 2px 0;
    border: 1px solid #777;
    background-color: #eee;
}
.gradecalc-notice div {
    display: table-cell;
    padding: 2px 6px;
    color: white;
    background-color: #777;
    height: inherit;
}
.gradecalc-notice span {
    display: table-cell;
    padding: 2px 4px;
    color: #777;
}

/* SUCCESS message */
.gradecalc-success {
    display: table;
    margin: 2px 0;
    border: 1px solid #2a0;
    background-color: #efe;
}
.gradecalc-success div {
    display: table-cell;
    padding: 2px 6px;
    color: white;
    background-color: #2a0;
    height: inherit;
}
.gradecalc-success span {
    display: table-cell;
    padding: 2px 4px;
    color: #2a0;
}

/* ERROR message */
.gradecalc-error {
    display: table;
    margin: 2px 0;
    border: 1px solid #f33;
    background-color: #fee;
}
.gradecalc-error div {
    display: table-cell;
    padding: 2px 6px;
    color: white;
    background-color: #f33;
    height: inherit;
}
.gradecalc-error span {
    display: table-cell;
    padding: 2px 4px;
    color: #f33;
}
